
* {
    margin: 0;
}
body{
    background-color: #F2F3D9;
}

.tiltle{
    text-align: center;
}


nav{
    display: flex;
    flex-direction: row;
    background-color: black;
    margin: 0;
}
.nav-3-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    flex-grow: 4;
    background-color: black;
}
.col-3{
    display: flex;
    flex-direction: row;

}
nav p{
    color: white;
}
.col3-1{
    display: flex;
    flex-direction: row;
    background-color: #C16E70;
    margin: 20px;
    height: 300px;
    align-items: flex-end;
    padding: 20px;
    border-radius: 15px;
#
}
.col3-2{
    background-color: #C16E70;
    margin: 20px;
    align-content: flex-end;
    padding: 20px;
    border-radius: 15px;
}
.col3-3{
    background-color: #C16E70;
    margin: 20px;
    align-content: flex-end;
    padding: 20px;
    border-radius: 15px;
}